.App {
  text-align: center;
  

}

.container1{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:bisque;
}

.container2{
  display:flex;
  align-items: center;
  background-color:bisque;
}

.table{
  display:flex;
  align-content: flex-start;
  background-color:burlywood;

}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.add-form {
  margin-bottom: 20px;
}

.form-control {
  margin: 10px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 50%;
  height: 20px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 15px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}


